table{
    width: 400px;
    height: 400px;
    border: solid red 1px;
    border-collapse: collapse;
}
#mainBoard{

    width: 400px;
    height: 400px;
    border: solid red 1px;
    border-collapse: collapse;
}


.blackbox{
    width: 50px;
    height: 50px;
    background-color: black;


}.whitebox{
     width: 50px;
     height: 50px;
     background-color: aquamarine;

 }
 
 .divChessBoard{
     float: left;
     
 } .divRadius{
    border-radius: 50%;

    }